* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header-main {
	background: red;
	color: white;
	padding: 5px 20px;
	width: 68%;
}
.header-main h1 {
	display: flex;
	justify-content: center;
	font-size: 60px;
}

.header-main .login {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-main .col-3 button {
	margin: 0 20px;
}

.header-nav a {
	border-right: 1px solid black;
	font-size: 15px;
	padding-right: 20px;
	width: 100%;
}
